<country-search-input
  placeholder="Buscar por capital"
  (value)="query.set($event)"
/>
<!--(value)="query.set($event)"  -- VERSION EXPERIMENTAL - ANGULAR 19+ -->
<!-- (value)="onSearch($event)" -- VERSION ESTABLE -->


@if (countryResource.error()) {
  <h3>{{ countryResource.error() }}</h3>
} @if ( countryResource.hasValue() ) {
  <country-list [countries]="countryResource.value()!" />
}


<!-- [countries] entre llaves cuadradas xq es para enviar la informacion
y countries() porque es una signal
-->
